*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    animation: fadeIn 3s ease-in-out;
}

header{
    padding: 15px;
    background-color: #3a3a3a;
    display: grid;
    grid-template-areas: "area1" "area2";
    justify-content: center;
    overflow: hidden;
}

nav > img{
    grid-area: area1;
}

header nav a{
    text-decoration: none;
    color: white;
    padding: 50px;
    font-size: large;
}

a:hover{
    background-color: gray;
    font-size: larger;
}

#nav{
    grid-area: area2;
    font-size: 100%;
    flex-direction: row;
}

header img{
    height: 25px;
}

header nav{
    width: 100%;
    display: flex;
    justify-content: center;
}

p{
    max-width: 1200px;
    color: white;
    margin: auto;
    padding: 10px;
    background: #3a3a3a;
    font-size: large;
    text-align: justify;
    border-radius: 6px;
}

h1{
    text-align: center;
    font-weight: bold;
    color: white;
}

#his{
    margin: 20px;
    flex: 1;
}

#vid{
    padding: 20px;
    text-align: center;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #3a3a3a;
    color: white;
    font-weight: 800;
    padding: 10px 0;
    border-radius: 6px;
}

#foo{
    height: 30px;
    margin: 20px;
    text-align: start;
}

#foo1{
    text-decoration: underline;
    color: white;
}

#foo2{
    font-size: medium;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
