*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, Helvetica, sans-serif;
}

body{
    background-color: black;
}

header{
    padding: 15px;
    background-color: #3a3a3a;
    display: grid;
    grid-template-areas: "area1" "area2";
    justify-content: center;
    overflow: hidden;
}

header nav a{
    text-decoration: none;
    color: white;
    padding: 50px;
    font-size: large;
}

a:hover{
    background-color: gray;
    font-size: larger;
}

#nav{
    font-size: 100%;
    flex-direction: row;
}

header img{
    height: 25px;
}

header nav{
    width: 100%;
    display: flex;
    justify-content: center;
}

#img{
    height: 300px;
    display: flex;
    justify-content: center;
    margin: 10px;
}

#info{
    max-width: 1200px;
    color: white;
    margin: auto;
    padding: auto;
    width: 1500px;           
    height: 385px;         
    background: #3a3a3a;      
    border-radius: 6px; 
}

#tit{
    margin: 5px;
    padding: 5px;
    font-size: 40px;
}

#sub{
    margin: 5px;
    padding: 5px;
    font-size: 30px;
}

#text{
    font-size: 20px;
    margin: 5px;
    padding: 5px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

body {
    animation: fadeIn 3s ease-in-out;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:#3a3a3a;
    color: white;
    font-weight: 800;
    bottom: 0;
    position: absolute;
    border-radius: 6px;
}

#foo{
    height: 30px;
    margin: 20px;
    text-align: start;
}

#foo1{
    text-decoration: underline;
    color: white;
}